.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main_pic {
  background-position: center;
  height: 900px;
  background-image: url('../public/img2/shose_main.jpg');
  background-repeat: no-repeat;
  
  background-size: contain; /* 최대화해도 화면이 짤리지 않음 */
  /* background-size: cover; /* 브라우저를 최대화 하면 화면이 짤림 */
}

.mainImg {
  background-image: url('../public/img2/shose_main.jpg');
  height: 30em; 
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
  /* background-clip: content-box; */
  /* object-fit: cover; */
  margin-bottom: 10px;
}

.flex {
  display: flex; /* 자식 요소들을 가로정렬 */
  justify-content: center; /* 자식 요소들을 가운데 정렬 */
}


.flex div {
  background-color: red;

  /* width와 height를 정해줘야 함 */
  width: 300px; 
  height: 200px;

  margin: 10px;
}

.start {
   opacity: 0;
   transform: scale(0);
}

.end {
   opacity: 1;
   transition: opacity 0.5s;
   transform: scale(1);
}