.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

path:hover {
   /* outline: none; */
   fill: wheat;
 }
 
 .rank1 {
   fill: #FAE0E0;
 }
 
 .rank2 {
   fill: #F8D3D4;
 }
 
 .rank3 {
   fill: #F19B9A;
 }
 
 .rank4 {
   fill: #EC5A5A;
 }
 
 .rank5 {
   fill: #E13632;
 }

 .rank6 {
   fill: #FAE0E0;
 }
 
 .rank7 {
   fill: #F8D3D4;
 }
 
 .rank8 {
   fill: #F19B9A;
 }
 
 .rank9 {
   fill: #EC5A5A;
 }

 .rank10 {
   fill: #EC5A5A;
 }
 
 .rank11 {
   fill: #E13632;
 }

 .rank12 {
   fill: #FAE0E0;
 }
 
 .rank13 {
   fill: #F8D3D4;
 }
 
 .rank14 {
   fill: #F19B9A;
 }
 
 .rank15 {
   fill: #EC5A5A;
 }
 
 .rank16 {
   fill: #E13632;
 }